<header>
    <nav role="navigation">
        <div class="topnav">
            <a href="">Home</a>
    
            <a href="videos">Vidéos</a>
    
            <a href="photos">Photos</a>
       
            <a href="bio">Biographie</a>

            <a href="discographie">Discographie</a>



                   </div>



    </nav>
</header>