{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Bio{# permet de changer nom de page #}
{% endblock %}



{% block content %}


<h1>SHAKA PONK</h1>

<section class="text-align padding10">

<div>
Frah en concert sur la grande scène lors de la fête de l'Humanité 2012
Informations générales
Pays d'origine
 France
Genre musical
Électro-hardrock, heavy metal, funk, hip-hop, punk rock, sonorités tribales
Années actives
Depuis 2004
Labels
Tôt ou tard
Site officiel
Shakaponk.com
Composition du groupe
Membres
Goz (mascotte)
Frah (chant)
Sam (chant)
Mandris (basse)
C.C (guitare)
Ion (batterie)
Stevee (claviers et samples)
Anciens membres
Bobee O.D. (batterie)
Thias (basse et chant)
Mesn-X (guitare)
<br>
Shaka Ponk (parfois orthographié SHK PNK) est un groupe d'électro-rock français utilisant des éléments de différents courants musicaux tels que le heavy metal, le funk et le hip-hop. Le groupe chante en anglais, occasionnellement en espagnol ou en français.
Shaka Ponk est l'un des rares groupes de leur courant musical à compter un membre virtuel, Goz, le singe, qui les accompagne sur chacune de leurs tournées et parfois lors des lives télévisés.
<br>Sommaire
     Histoire du groupe
         Les débuts
         Berlin
         Loco Con Da Frenchy Talkin' (2006-2007)
         Bad Porn Movie Trax et début du succès (2008-2010)
        The Geeks and the Jerkin' Socks et succès devant le grand public (2011-2013)
        The White Pixel Ape / The Black Pixel Ape (2014-2015)
        The Evol' (Depuis Novembre 2017) et ApeTizer (Juin 2017)<br>
     Formation
        Membres actuels
       Anciens membres<br>
     Discographie
     Albums
     Rééditions
        ◦Promos
        ◦EPs
        ◦Singles
        ◦Titres (et démos) disponibles sur le site officiel mais jamais sortis en album
        ◦Collaborations
        ◦Bandes originales
        ◦Classements
            Albums
            Singles
    </div>

<div>
H<span style="text-transform: lowercase">istoire du groupe
Le groupe est composé de sept membres : Goz, un singe en images de synthèse, Frah (François Charon)1,2 (chant), Mandris (basse), C.C (Cyril Roger) (guitare), Ion (Yohann Meunier) (batterie), Steve (clavier et samples) et Sam (Samaha Sam) (chant, depuis 2011). Bien que le groupe ait signé son premier contrat à Berlin, en Allemagne, c'est à son retour en France que sa notoriété se développe3.
Les débuts<br>
Fin 2003, Frah, alors webdesigner, et C.C, guitariste, rencontrent Stan, un hacker4 qui vit à Los Angeles. Celui-ci leur fournit une mascotte : le singe virtuel Goz. Frah et C.C imaginent un groupe mêlant rock 'n' roll et electro5. Plusieurs personnes s'intéressent à leurs idées, des graphistes, des vidéastes, et notamment quelques musiciens : Thias (Mathias Pothier), bassiste, Bobee O.D. (Jean Philippe Dumont), batteur, Mesn-X [ou Men-X] (Gael Mesny), guitariste et Stevee, claviériste et sampleur.
Lors de la création du groupe à Paris, l'idée est de former un groupe zen, bouddhiste, avec un esprit metal6. Cet aspect ressort dans le nom du groupe, « Shaka » (Shākyamuni) étant le nom du premier bouddha6, et signifiant également le mot « prêtre » en malais, choisi également en référence au shake en percussion, et Ponk, nom d'une tribu amérindienne et faisant référence au côté punk du groupe. En d'autre terme, Shaka Ponk pourrait signifier « prêtre du peuple Ponk » ou plus ironiquement « prêtre punk ».
Début 2004, un ordinateur tombe en panne durant un concert (en France), obligeant Frah à remplacer Goz au chant. Frah prend alors définitivement la place de chanteur. Les Shakas distribuaient aussi des CDs gratuitement du nom de « Laga » lors de leur premier concert en France.
Berlin<br>
Fin 2004, ne trouvant pas de producteur6, Frah, C.C, Bobee O.D. et Thias déménagent à Berlin où ils assurent les premières parties de KoЯn, Mudvayne Exilia, Skin et BossHoss7. Mesn-X [ou Men-X] restera en France et du coup quittera le groupe. Au bout de quelques mois, un manager les remarque et leur propose des dates de concerts ainsi qu'un bunker pour répéter. Ils se produisent à Berlin de 2005 à 2007. En juillet 2005 le groupe signe avec le label allemand Edel music et sort l'EP Hyppie Monkey contenant 5 pistes dont les 4 premières sont réutilisées dans l'album Loco Con Da Frenchy Talkin'.
Loco Con Da Frenchy Talkin' (2006-2007)<br>
En 2006 sort le premier album, Loco Con Da Frenchy Talkin', qui le fait connaître du public français via, notamment, Radio Neo ou la webradio La Grosse Radio8. Les Shakas sortiront deux versions de l'album, une allemande avec 16 titres et une française avec 18 titres (Samples De Nada et Fonked). En 2009, Shaka Ponk sort une nouvelle version de Loco, la version "Recyclée". 14 titres, changement d'ordre des titres et changement de durée.
Bad Porn Movie Trax et début du succès (2008-2010)<br> </div>
Début 2009, Shaka Ponk participe à l'émission Ouï Love Myspace sur la radio Ouï FM avec la chanson How We Kill Stars. Bien qu'il n'atteigne pas la finale de ce casting radiophonique, son passage est remarqué et lui permet de faire partie des « coups de cœur » de l'émission. Ils passeront même à Taratata en 2009 et en 2010 avec Pamela Hute. Le deuxième album, Bad Porn Movie Trax, enregistré à Paris, sort le 25 mai 2009. Il est suivi de deux rééditions comportant quelques modifications : une première, la même année, puis une seconde, le 1er mars 2010, qui comporte deux morceaux inédits, Stop The 'Botet French Touch Puta Madre en live.
Dès 2009, le groupe lance sa chaîne de vidéos, la Monkey TV9. Réalisées entièrement par le groupe, ces vidéos sont composées d'images filmées sur scène et en backstage, notamment par un proche du groupe, Korky10.
Aux Victoires de la musique 2010, il est nommé dans la catégorie révélation scène de l'année mais ne remporte pas la récompense.
The Geeks and the Jerkin' Socks et succès devant le grand public (2011-2013)[modifier 
Le titre original de l'album devait être The Galactiks and the Surfing Jocks, mais est devenu The Geeks and the Jerkin' Socks à la suite d'un malentendu5.
Le troisième album, The Geeks and the Jerkin' Socks, dont l'enregistrement était prévu en Espagne, commence à être enregistré en France[réf. nécessaire] et sort le 6 juin 2011. Il s'agit du premier album du groupe sur lequel est créditée la chanteuse Samaha Sam, chanteuse française d'origine anglo-égyptienne11. Bertrand Cantat participe au titre Palabra Mi Amor.
Le 5 juin 2012, le groupe assure la première partie des Guns N' Roses à Paris-Bercy12.<br><div></div>
Le 14 novembre 2012, lors du concert à Amiens, Frah se blesse à la jambe et ne peut assurer la suite de la tournée13.
Le 8 février 2013, Shaka Ponk remporte le prix du Spectacle musical/tournée/concert de l'année, pour The Geeks Tour, aux Victoires de la musique16.
Entre 2011 et 2013, le groupe voit défiler, sur cette tournée, un million de spectateurs sur 130 dates17.
Le 21 février 2013, sort le clip Spit You Out, en featuring de Skunk Anansie18.<br>
Le CD-DVD live Geeks on Stage sort le 18 novembre 2013 comprenant le CD et le DVD live à Bercy, Monkeys in Bercy, et un documentaire sur la tournée19.
Un EP intitulé Altered Native Soul sort sur la plateforme de téléchargement iTunes, le 18 décembre 2013, comprenant une chanson du éponyme, constituant le premier extrait de l'album suivant, The White Pixel Ape, et trois titres live, How We Kill Stars, Te Gusta Me et Palabra Mi Amor, enregistrés au Zénith de Paris le 10 novembre 201220.
The White Pixel Ape / The Black Pixel Ape (2014-2015) <br>
Le 17 mars 2014, après une pause de plus d'un an, le groupe sort son quatrième album, The White Pixel Ape, composé pendant la convalescence de Frah.
Une tournée de petites salles démarre le 28 février 2014, puis de Zénith dont, notamment, trois consécutifs à celui de Paris, en juin 2014.
Le 18 mars 2014, le groupe est décoré chevalier de l'ordre des Arts et Lettres21,22.<br>
En septembre 2014, les membres de Shaka Ponk lancent des rendez-vous en streaming vidéo sur la plateforme Ustream23, les « In bus with Shaka Ponk » dont le titre fait référence à l'émission In Bed with Madonna. Ces rendez-vous permettent au groupe de répondre en direct aux questions de leurs fans et d'inviter les artistes de leur choix à ces sessions.
Le 1er octobre 2014 sort un album photo, Monkey Diary, réalisé par Laurent Julliand, un photographe proche du groupe24.
Le 29 octobre 2014, une bande dessinée réalisée par Mile et Sébastien Salingue25 est éditée.
Le 3 novembre 2014, le cinquième album du groupe, The Black Pixel Ape, est édité ; il est fait de titres composés en même temps que ceux de l'album précédent. Après les morceaux optimistes de The White Pixel Ape, cet album correspond plutôt à une énergie négative consécutive à la période de ''spleen du groupe à la suite de l'arrêt brutal de la tournée précédente. Les morceaux sont décrits par le groupe comme étant plus sombres26,27.
Le 5 janvier 2013, le groupe se produit à Bercy pour un concert de plus de 2  30. Des invités proches du groupe se succèdent sur scène comme Mat Bastard, Fishbone, Beat Assaillant, Skunk Anansie ou encore Bertrand Cantat14. Sa blessure ne résistant pas au concert, Frah se fait opérer en urgence et est obligé de rester immobile pendant une longue période de récupération15.
Le 20 novembre 2014, le groupe se produit pour la seconde fois à Bercy.<br></div>
<div>
Le 11 décembre 2015, le groupe sort le Pixelive, un DVD live composé de vidéos provenant de leur tournée, principalement du concert de Bercy. Il contient toutes les chansons jouées pendant le Pixel Tour (2 ans de tournée) et un backstage de 30 min. Le DVD est fait en matière recyclée et est une exclusivité Fnac. Tous les bénéfices du DVD sont reversés à la Fondation Nicolas-Hulot pour la nature et l'homme, qui lutte contre le réchauffement climatique.
Fin 2015, le groupe annonce, via des photos sur Instagram, l'enregistrement d'un nouvel album.
The Evol' (Depuis Novembre 2017) et ApeTizer (Juin 2017)<br>
Le 25 juin 2017, le groupe sort un clip vidéo du morceau Gung Ho sur leur chaîne YouTube ShakaPonkVEVO, le partagera sur Facebook en teasant que 4 autres titres sortiront le lendemain. Le 26 juin, les 4 nouveaux titres sont disponibles sur iTunes, Apple Music, Spotify, Deezer et Google Play. Ces 5 titres sont donc regroupés dans un EP appelé ApeTizer, publié sous le label Tôt Ou Tard, nommés (dans l'ordre) Gung Ho, Mysterious Ways, Party, Rocksta (feat. Skin, De Staat & KillASon) et War Dance.
Cet EP sert à patienter jusqu'au nouvel album selon le groupe, qui sortira le 17 novembre, et dans lequel on retrouvera Gung Ho et Mysterious Ways. On retrouvera de nombreuses sonorités de Bad Porn Movie Trax ainsi que des Pixel Ape.
Le 17 novembre 2017 sort le sixième album du groupe du nom de "The Evol' ". Shaka Ponk annonce une tournée qui commencera en Janvier 2018 et qui s'appellera The Monkadelic Tour programmée en 23 dates. Lors d'un concert à Montpellier le 8 février 2018, Frah et Sam font la chanson (reprise de Nirvana) "Smells Like Teen Spirit" avec un enfant de 11 ans devant tout le public, cet événement sera marqué d'une pierre blanche pour le garçon et Shaka Ponk.
Shaka Ponk est nommé dans la catégorie "Meilleur groupe de Rock français" aux victoires de la musique le 9 février 2018 et remporteront le prix.
Lors de leur prestation le 27 octobre 2018 à l'émission Taratata, Nagui annonce la sortie d'un CD/DVD best-of nommé Apelogies qui sortira début 2019.
</span></div></section>
{% endblock %}