{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Steve{# permet de changer nom de page #}
{% endblock %}



{% block content %}



<h1>CORD</h1>
    <section class="text-justify padding10">
        N<span style="text-transform:lowercase">é DANS SPACE MOUNTAIN À DISNEY 
    
            <p class="">
                CC EST UN ENFANT ABANDONNÉ TRÈS TÔT ET RECUEILLI PAR DES ROUMAINS. 
                IL APPREND LA GUITARE AVEC DES MANOUCHES.
                IL DEVIENT UNE STAR DANS SON CAMPEMENT CAR IL EST DOUÉ. 
                IL JOUE VITE, ET BIEN.
                SA GUITARE LUI PERMET DE SURVIVRE.

                IL JOUE DANS LE MÉTRO ET DANS DES ENDROITS ABRITÉS CAR IL NE SUPPORTE PAS LES COURANTS D'AIR.
                UN PRODUCTEUR LE DÉCOUVRE STATION OBERKAMPF EN 2000.
                CC LUI CONFIT QU'IL N'A PLUS QU'UNE ENVIE : SORTIR DE SA BOUCHE DE MÉTRO, VOYAGER.
                LE PRODUCTEUR LUI FINANCE UNE RETRAITE CHEZ LES MOINES AU TIBET.
                IL APPREND LÀ-BAS À FAIRE MOINS DE NOTES POUR BASCULER DANS L'ÉPURE.

                LE MORCEAU QUI L'A RENDU CÉLÈBRE AU TIBET EST « FA » UNE MÊME NOTE DE 4 MINUTES QUI INTERROGE L'ÊTRE HUMAIN SUR SA PLACE DANS LE MONDE.
                A SON RETOUR, CC  RENCONTRE FRAH DANS UN CYBERCAFÉ, QUI LUI SUGGÈRE DE FAIRE PLUSIEURS NOTES DANS UN MÊME MORCEAU, ET ÇA MARCHE. LEUR AMITIÉ NAÎT INSTANTANÉMENT.
                CC DEVIENT UNE MACHINE DE GUERRE ROCK'N ROLL.

                «  J AI RENCONTRÉ FRAH ALORS QU'IL ESSAYAIT DES LUNETTES QUI FILTRENT LES COULEURS DES ÉCRANS LCD, ET J AI TROUVÉ ÇA COOL »
            </p>
        </span>

    </section>
{% endblock %}