{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Discographie{# permet de changer nom de page #}
{% endblock %}

{% block content %}
<section class="text-justify padding10">

        <h1>Part 1 : Monkeys In Bercy 13</h1><br>
        <section>
        Intro<br>

        Shiza Radio<br>

        Reset After All<br>

        Hombre Que Soy<br>

        Twisted Minda<br>

        Hell'o<br>

        Doors<br>

        Sex Ball<br>

        I'm Picky<br>
</section>


<section>
        Te Gusta Me<br>

        Morir Cantando<br>

        Let's Bang<br>

        I'm A Lady<br>

        Avec Le Temps<br>

        Gimme Shelter<br>

        Palabra Mi Amor<br>

        How We Kill Stars<br>

        My Name Is Stain<br>

        French Touch Puta Madre<br>

        Spit<br>


        <h1>Part 2 : Geeks Side Story

        Front  Backstage 2011 - 2013</h1>

        Extra Monkey TV<br>

        Monkeys In Bercy 13<br>
    </section>        Intro


    <section>
        Shiza Radio<br>

        Reset After All<br>

        Hombre Que Soy<br>

        Twisted Minda<br>

        Doors<br>

        Sex Ball<br>

        I'm Picky<br>

        Let's Bang<br>

        My Name Is Stain<br>

        I'm A Lady<br>

        Spit<br>

    </section>

    <section><br>

        <h1>The Black Pixel Ape (Drinking Cigarettes To Take A Break)</h1>

        On The Ro'<br>
        
        Come On Cama<br>
        
        The Shell Maid Freak<br>
        
        The Way Out<br>
        
        Lucky Boy<br>
        
        Frag Dog<br>
        
        Mocks The Party<br>
        
        Happy Ape Rodeo<br>
        
        Time Has Come<br>
        
        Kitty Call (Hidden Track)<br>
        
        Yell<br>
        
        4xGet<br>
        
        Morir Cantando<br>
        
        
    </section>

    <section><br>

        <h1>The White Pixel Ape</h1>

        Lucky G1rl<br>
        
        Wanna Get Free<br>
        
        Monkey On The Wall<br>
        
        Scarify<br>
        
        Black Listed<br>
        
        An Eloquent<br>
        
        Wotz Going'On<br>
        
        Story O' My Lf<br>
        
        Gimme Guitarrrrra<br>
        
        Last Alone<br>
        
        Altered Native Soul<br>
        
        Heal Me Kill Me<br>
        
        6xLove<br>
        
        
    </section>

    <section><br>

        <h1>The Evol'</h1>

        Gung Ho<br>
        
        Fear Ya<br>
        
        Faking Love<br>
        
        Bunker<br>
        
        On Fire<br>
        
        Summer Camp<br>
        
        Wrong Side<br>
        
        Wataman<br>
        
        Slam et Slam'Ed<br>
        
        Rusty Fonky<br>
        
        Share a line<br>
        
        Mysterious ways<br>
        
        Killing Hallelujah<br>
         
    </section>

</section>
{% endblock %}