{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Steve{# permet de changer nom de page #}
{% endblock %}



{% block content %}




<h1>CRI</h1>

<section class="text-align padding10">
    <p class="frah">
        N<span style="text-transform: lowercase">é EN 1000 EN TRANSYLVANIE

        C'EST L'HISTOIRE D'UN PIRATE INFORMATIQUE QUI PRENAIT LES CHOSES TROP HACKER.
        NÉ D'UN INGÉNIEUR INFORMATICIEN ET D'UNE INSTITUTRICE, FRAH A COMMENCÉ À HACKER L'ORDINATEUR PATERNEL À 16 ANS POUR NUMÉRISER, REPRODUIRE, ET VENDRE À LA RÉCRÉ LES FILMS X DE SON PAPA.

        ON PEUT DONC AFFIRMER SANS SE TROMPER QUE FRAH EST ENTRÉ DANS L'INFORMATIQUE PAR LE CUL.
        IL DEVIENT TRÈS VITE UN SUPER GÉNIE DU BIG DATA.
        CETTE ACTIVITÉ L'OBLIGE À PORTER DES LUNETTES. 
        SES STATISTIQUES AVEC LES FILLES BAISSENT.

        UN SOIR IL ENTEND LA VOIX DE LÉO FERRÉ (MORT DEPUIS 3 ANS) QUI LUI ORDONNE DE MONTER SUR SCÈNE.
        IL ESSAIE, S'ÉVANOUIE, MAIS SES STATISTIQUES AVEC LES FILLES AUGMENTENT. IL DÉCIDE DE CRÉER UN GROUPE. 

        SA VOIX À TRÈS PEU MUÉ. MAIS EN ALTERNANT DES TONALITÉS RAUQUES ET AIGUËS DANS UNE ÉNERGIE ROCK TRANSCENDÉE, IL S'APERÇOIT QUE ÇA PEUT MARCHER. IL DEVIENT DONC CHANTEUR.

        DANS LES ANNÉES 2000, FRAH ENCHAÎNE LES TOURNÉE AVEC SA NOUVELLE FAMILLE DE SINGE. MAIS CECI N'EST PAS DE TOUT REPOS. 

        EN 2001, IL EST DIAGNOSTIQUÉ STAGEOPHOBE (IL A PEUR DES SCÈNES ET DES PRATIQUABLES ET SA TÊTE PEUT EXPLOSER À CAUSE DE LA LUMIÈRE  À FORTE DOSE ET DES ONDES SONORES… C'EST MOCHE ! )

        APRÈS QUELQUES ANNÉES DE TOURNÉE, IL PERD LA VUE, L'OUÏE, UNE JAMBE, ET 50% DE SON INTELLECT. 

        UN CABINET D'ÉTUDE DESSINE ET CONSTRUIT UNE CASQUETTE ET UN CHAPEAU DE PROTECTION BLINDÉ DANS LE MÊME ALLIAGE (OR TITANE) QUE LE BRACELET DE WONDER WOMAN.
        CES CASQUES MÉLANGEANT TECHNOLOGIE ET JACK DANIELS,  LE PROTÈGENT ENFIN DES ONDES QUI LUI GRIGNOTENT LES CELLULES PENDANT LES SHOWS.
        MAIS, FRAH RESTE TOUJOURS SUR SES GARDES CONCERNANT LES BLESSURES DU PASSÉ.

        IL S'ÉCHAPPE QUAND MÊME SOUVENT DE LA SCÈNE GRÂCE À SES SLAM MAGISTRAUX. IL SE RÉFUGIE LÀ OÙ IL SE SENT VRAIMENT EN SÉCURITÉ : DANS LES GENS.
        </span>
    </p>
</section>


{% endblock %}