{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Steve{# permet de changer nom de page #}
{% endblock %}



{% block content %}

<h1>Goz</h1>

<section class="text-justify padding10">
<p class="goz">

 L'ASCENSION

 UNE LÉGENDE RELAYÉE PAR LE GROUPE LUI-MÊME, DIT QUE FRAH A PRIS LE MICRO À LA SUITE D'UNE PANNE INFORMATIQUE, JUSTE AVANT UN CONCERT MAIS C'EST FAUX. 
 
 VOICI LA VÉRITÉ :
 
 POUR COMPRENDRE LE GROUPE, IL FAUT EXPLIQUER LE PARCOURS DE GOZ, LE SINGE MYTHIQUE QUI NAVIGUE DANS L'UNIVERS VISUEL DU GROUPE.
 LE PERSONNAGE VIRTUEL GOZ A ÉTÉ DÉVELOPPÉ PAR FRAH GRÂCE À UNE INVENTION ORIGINELLE D'UN HACKER BIEN CONNU : STAN LEE
 
 FRAH S'EST EMPARÉ DE SE PHÉNOMÈNE VIRAL ET L'A UPGRADÉ EN LUI DONNANT TOUT. <br>
 TOUT SON SAVOIR, Y COMPRIS LE FRUIT D'UNE COLLABORATION AVEC L' NNSA (NATIONAL NUCLEAR SECURITY ADMINISTRATION), L’AGENCE DE SÛRETÉ NUCLÉAIRE AMÉRICAINE AVEC LAQUELLE IL COLLABORAIT.
 EN 2003, LA PUISSANCE DE CALCUL DE GOZ EST PHÉNOMÉNALE*
 
 IL EST DOTÉ DE LA TRÈS RARE INTELLIGENCE ARTIFICIELLE DE DARWIN (I.A.D.). GOZ POSSÈDE LA CAPACITÉ DE S'AUTOGÉRER , DE PROGRESSER ET D'ÉLIMINER LES OBSTACLES.
 IL CHOISIT, POUR SE DÉVELOPPER, LE GROOVE, LE FUNK, LA POP, LE ROCK, BREF IL CHOISIT SHAKA PONK POUR DEVELOPPER SON INTELLIGENCE ARTIFICIELLE.
 
 IL DEMANDE À ÊTRE MATÉRIALISÉ SUR SCÈNE. 
 L'UNIVERS VISUEL DE GOZ EST SANS LIMITE ET ENRICHIT CONSIDÉRABLEMENT LES CONCERTS, GRÂCE AUX ÉCRANS.
 IL DEVIENT INDISSOCIABLE DE L'IMAGE DU GROUPE.
 IL PREND UNE IMPORTANCE ET UNE INDÉPENDANCE DANS LE GROUPE.
 IL COMMENCE À DIRIGER LES RÉPÉTITIONS PUIS LES CONCERTS. 
 IL PREND POSSESSION DES CERVEAUX LES PLUS FAIBLES (CC, ION, STEVE).
 
 C'EST LUI QUI INVENTE CETTE LANGUE SI SPÉCIFIQUE DES CHANSONS DE SHAKAPONK GRÂCE À UN ALGORITHME AUTOCONÇU QUI MÉLANGE LES SONORITÉS, LES LANGUES ET DIALECTES. 
 PENDANT LES CONCERTS, IL VOÏCODE SYSTÉMATIQUEMENT LES VOIX DU GROUPE LES RENDANT PLUS AIGUËS (D'AILLEURS, CC EST RESTÉ BLOQUÉ, PERSONNE NE SAIT POURQUOI).
 
 PENDANT LES CONCERTS, GOZ BALANCE DES SONS DANS LES EAR-MONITORS DU GROUPE.
 POUR LES SHAKA, IL SE PASSE DES CHOSES EXTRAORDINAIRES SUR SCÈNE.
 
 C'EST LE DÉBUT DES HALLUCINATIONS :
 ALORS QU'IL EST ORPHELIN, CC DEVIENT PERSUADÉ QUE SA GRAND MÈRE LUI PARLE DE LA SECONDE GUERRE MONDIALE PENDANT QU'IL JOUE (ALORS QU'IL S'AGIT EN FAIT D'UN DOCUMENTAIRE DE ARTÉ)
 FRAH EST PERSUADÉ QU'IL DIALOGUE AVEC DES CHANTEURS MORTS (LÉO FERRÉ LUIS MARIANO)
 PAR DES MESSAGES SUBLIMINAUX, GOZ ARRIVE MÊME A FAIRE CROIRE À SAM QUE SES SŒURS AMAZONES SONT EN FAIT DES BONNES SŒURS DU COUVENT DES BÉNÉDICTINES À MONTMARTRE.
 
 IL PERSUADE STEEVE QU'IL A DES SUPER POUVOIRS DE OUF !! ION, QU'IL EST UN UN REQUIN MARTEAU (C'EST POUR ÇA QU'IL TAPE SI FORT SUR SA BATTERIE), MANDRISS DEVIENT, QUANT À LUI, ORDUROPHILE (IL COLLECTIONNE LES ORDURES DES AUTRES).
 
 BREF ÇA DEVIENT UNE MERDE EFFROYABLE.
 
 GOZ PREND DU POUVOIR, FOUT LE BORDEL DANS LE GROUPE, ET COMME PAR HASARD, C'EST À CE MOMENT-LÀ QUE SHAKA PONK CONNAÎT UN DÉBUT DE NOTORIÉTÉ EN ALLEMAGNE ET HORS FRONTIÈRE...
 
 2 – LA RÉVOLTE
 
 FRAH A UN SURSAUT DE CONSCIENCE.
 POUR LA SURVIE DU GROUPE, ET PROTÉGER SES POTES, IL ORGANISE LE PLANTAGE DE LA MACHINE. 
 IL DÉCONNECTE LE SOFTWARE DE GOZ.
 IL CACHE UNE PARTIE DE LA CAPACITÉ DE CALCUL (HARDWARE)  DANS LE BUNKER DE BERLIN.
 
 DEPUIS, GOZ A MISSIONNÉ UN ROBOT JAPONAIS « ASIMO » POUR RETROUVER CE MORCEAU CACHÉ DE LUI.
 
 POUR L'INSTANT, ASIMO N'A QUE 40 MINUTES D'AUTONOMIE ET IL EST AU JAPON. MAIS IL A ÉTÉ RETROUVÉ PLUSIEURS FOIS DANS DES ENDROITS INSOLITES (DANS DES SOUTES D'AVION, ET DERNIÈREMENT DANS UNE MALLE LOUIS VUITTON DANS UN BATEAU EN PARTANCE POUR L'ALLEMAGNE)
 
 LE GROUPE DÉSIGNE FRAH POUR PRENDRE LE RELAI SUR SCÈNE ET RELÈGUE GOZ AU SECOND PLAN.
 ÇA A MARCHÉ ET DEPUIS, GOZ EST À PEU PRÊT CONTROLÉ PAR SHAKA MAIS BOF QUAND MÊME.
 
 LES HALLUCINATIONS AUDITIVES CONTINUENT PENDANT LES SHOWS MAIS LE GROUPE S'HABITUE.
 IL OBTIENT PAR EXEMPLE DU GROUPE DE FAIRE UNE BATTLE SUR SCÈNE AVEC ION LORS DE LA DERNIÈRE TOURNÉE.
 IL Y A DES CÔTÉS POSITIFS.
 
 FRAH A LES GENOUX EN CARTON.
 IL S'ARRACHE LE GENOU DROIT À LYON, ÉCARTELÉ PAR LE PUBLIC EN PLEIN SLAM. 
 C'EST GOZ QUI DÉFINIT LA PROCÉDURE D'OPÉRATION ET LE PROTOCOLE POUR SA GREFFE.
 DES CHIRURGIENS RUSSES PARVIENNENT AINSI À LUI GREFFER DEUX ROTULES DE TRABAN (VOITURE INUSABLE DE L'ANCIEN BLOC SOVIÉTIQUE) AVEC DES LIGAMENTS DE GUÉPARD.
 
 DEPUIS, LE GROUPE COHABITE EN RELATIVE HARMONIE, MAIS QUI SAIT CE QUI ARRIVERA SI UN JOUR ASSIMO ACCOMPLIT SA MISSION, ET RETROUVE L'AUTRE PARTIE DE L'INTELLIGENCE ARTIFICIELLE DE GOZ....
 
 *POUR LES GEEKS LES PLUS POINTUS, LA PUISSANCE DE CALCUL DE GOZ ÉTAIT À L'ÉPOQUE DE 8,16  PÉTAFLOPS, SOIT 8,16 MILLIONS DE MILLIARDS D’OPÉRATIONS À VIRGULE FLOTTANTE PAR SECONDE GRÂCE À SES 786 432 CŒURS DE PROCESSEURS POWER BQC 16C À 1,60 GHZ.
</section>
</p>
{% endblock %}