{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Steve{# permet de changer nom de page #}
{% endblock %}



{% block content %}
<h1>BOIS ET PEAUX DE BÊTES</h1>


<span style ="text-transform:lowercase">
<section class="text-align padding10">

<p class="ion">

NÉ : À LA MER UN JOUR DE FORTE TEMPÊTE

IL EST LE DERNIER NÉ D'UNE FAMILLE DE 10 ENFANTS.

SON PÈRE N'A JAMAIS RÉUSSI À RETENIR SON PRÉNOM. IL S'EST DONC CONSTRUIT DANS L'OMBRE D'UNE FAMILLE NOMBREUSE ET DE PARENTS DÉBORDÉS.

EVIDEMMENT TRÈS CATHOLIQUE, TOUT LE MONDE ALLAIT À LA MESSE LE DIMANCHE. SANS JAMAIS PENSER À LUI MÊME, IL A PASSÉ SON ENFANCE ET SON ADOLESCENCE À GÉRER LES DISPUTES DE LA FRATRIE.

LE SEUL MOMENT QU'IL PASSE AU CALME, C'EST DANS LA BAIGNOIRE, EN FAISANT DES APNÉES. LÀ, SOUS L'EAU SOUILLÉE PAR SES 9 FRÈRES ET SOEURS AVANT LUI, IL GOUTTE À LA SÉRÉNITÉ DE LA MÉDITATION. UNE RÉVOLTE LENTE ET INÉLUCTABLE FAIT SON CHEMIN. 

À 18 ANS, IL CASSE UNE CHAISE. 

DEUX BARREAUX SAUTENT DU CADRE ET REBONDISSENT SUR LA PEAU D'UN TAMBOUR AFRICAIN OFFERT LE JOUR MÊME PAR UN ONCLE EXPLORATEUR : C'EST LA RÉVÉLATION ! PLUS PERSONNE NE POURRA PLUS L'IGNORER, IL VA FAIRE DU BRUIT EN JOUANT DE LA BATTERIE.

IL RENCONTRE FRAH, CC ET STEVE QUI JOUAIENT POUR DES RETRAITÉS DANS UN ZOO. LES SONOTONES DES VIEUX ONT EXPLOSÉ AU PREMIER MORCEAU, LES SINGES, EUX, ÉTAIENT RAVIS : ION A TROUVÉ ÇA COOL.
</span>
</p>
</section>
{% endblock %}
