{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Steve{# permet de changer nom de page #}
{% endblock %}



{% block content %}


<h1>CORDES GRASSES</h1>

 <section class="text-align padding10">
<p class="mandris">
  

        <span style ="text-transform:lowercase">

NÉ EN 2010 À SABRIAC-SUR-YVETTES (CALIFORNIA)

IL NE SE PASSE RIEN DANS LA VIE DE MANDRIS JUSQU'AU JOUR OU IL PASSE SON BAC G2 (COMPTABILITÉ GESTION)

LE  SUCCÈS EST AU RENDEZ-VOUS. LES LARMES DE JOIE DE SA MÈRE QUI N'Y CROYAIT PLUS LUI DONNENT CONFIANCE.

SON DIPLÔME SOUS LE BRAS, L'ART DU BILAN COMPTABLE CHEVILLÉ AU CORPS, IL ÉCUME  LES CDD DANS LES PME. GRÂCE À SON POUVOIR D'ACHAT, IL S'INSCRIT À UN CLUB DE PING-PONG OÙ IL RENCONTRE UNE ASIATIQUE QUI FAIT DE LA GUITARE.

POUR L'IMPRESSIONNER, IL APPREND LE SOLFÈGE EN 2 SEMAINES ET COMMENCE À JOUER AVEC ELLE DE LA BASSE.

SA STRUCTURE PSYCHOLOGIQUE SE RÉVÈLE TRÈS EFFICACE DANS SA PROGRESSION.

À 22 ANS, LE CIEL LUI TOMBE SUR LA TÊTE : IL APPREND QUE SA MÈRE A ÉLEVÉ EN CACHETTE UN AUTRE GARÇON ISSU D'UNE UNION AVEC UN AUTRE HOMME. CE FILS CACHÉ S'APPELLE STEVE. ELLE LUI FAISAIT CROIRE DEPUIS SA PLUS TENDRE ENFANCE, QUE SON MÉTIER DE FOREUSE PÉTROLIÈRE LA FAISAIT S'ABSENTER UNE SEMAINE SUR DEUX.

ELLE LUI ANNONCE QUE CE FRÈRE VIT À BERLIN DANS UN BUNKER, SUR DES MATELAS CRASSEUX, AVEC DES NÉO-PUNKS ANARCHISTES ET MÉLOMANES. IL DÉCIDE D'ALLER À LA RENCONTRE DE CE FRÈRE ÉTRANGE. 

STEVE LUI PRÉSENTE LE RESTE DU CREW ET LUI EXPLIQUE QU'IL FAIT MAINTENANT PARTIE D’UN COLLECTIF EXPÉRIMENTAL NOMMÉ SHAKA PONK. UNE SEMAINE PLUS TARD, IL DÉCHIRE SON DIPLÔME, QUITTE SON ASIATIQUE ET DÉCIDE DE S’INSTALLER AVEC EUX.

IL RENCONTRE FRAH EN TRAIN DE BIDOUILLER UN MICRO-CAMÉRA, CC EN TRAIN DE CRUCIFIER UNE GROUPIE SUR UNE LES PAUL GEANTE, ION EN PLEIN SOLO DE BAGUETTES CHINOISES SUR CASSEROLES ET SAM EN TRAIN DE DÉMEMBRER UN MACHO MALCHANCEUX … ET IL A TROUVÉ ÇA COOL.
        </span></section>
</p>
{% endblock %}
