{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Steve{# permet de changer nom de page #}
{% endblock %}



{% block content %}

<h1>GUERRIÈRE</h1> 

<section class="text-align padding10">
<p class="sam">
        <span style ="text-transform:lowercase">




IL EXISTE EN FRANCE UNE DERNIÈRE TRIBU D'AMAZONES. 

CACHÉES DANS NOTRE CIVILISATION (ET PLUS PARTICULIÈREMENT DANS LE 18ÈME ARRONDISSEMENT DE PARIS), DES FEMMES VIVENT ENTRE FEMMES. ELLES VONT DANS UNE ÉCOLE DE FILLES, VIVENT ET GRANDISSENT ENTRE FILLES. LES FILLES DEVIENNENT À LEUR TOUR FEMMES ET FONT GRANDIR DANS LE RESPECT D'AUTRES FILLES QUI DEVIENDRONT DES FEMMES ETC... 

AU SEIN DE CETTE ORGANISATION SECRÈTE ET TRÈS STRUCTURÉE, IL EXISTE UNE UNITÉ D'ÉLITE. CES FEMMES  SONT  SÉLECTIONNÉES SUR DES CRITÈRES DE MASSE MUSCULAIRE D'ENDURANCE ET D'APTITUDE AU MANIEMENT DE LA BATTE DE BASEBALL.

SAM FAIT PARTIE TRÈS TÔT DE CETTE UNITÉ QUI VENGE SYSTÉMATIQUEMENT LES FEMMES QUI FONT L'OBJET D'OUTRAGES SEXISTES PAR LES HOMMES.

CES HOMMES SONT DÉTECTÉS GRÂCE À UN « CONNAROMÈTRE ».<br>

DÉS QUE L'INJURE OU L'INJUSTICE A LIEUX, LE CONNAROMÈTRE BIPE. L'AMAZONE LA PLUS PROCHE ARRIVE RAPIDEMENT ET COLLE UNE CLAQUE, TIRE L'OREILLE, BRISE LA NUQUE, DÉMEMBRE, OU SODOMISE AVEC UN GODE-CEINTURE LE FAUTIF.

ALORS QUE LE GROUPE SHAKA EST À PEINE FORMÉ, PENDANT UNE RÉPÉTITION À BERLIN, FRAH SORT CETTE BLAGUE DÉSORMAIS MYTHIQUE : 

«  HEY LES GARS VOUS SAVEZ COMMENT DONNER PLUS DE LIBERTÉ À UNE FEMME ?
  
NON ? HE BEN EN ÉLARGISSANT SA CUISINE...»<br>

HILARITÉ GÉNÉRALE.

LE CONNAROMÈTRE BIPE IMMÉDIATEMENT. SAM, EN VACANCES À BERLIN DÉBOULE EN RÉPÉTITION ET MET UNE ÉNORME BAFFE À FRAH, UN TAQUET À CC ET STEVE ET DÉFONCE LA BATTERIE DE ION À LA BATTE DE BASEBALL. ELLE ÉPARGNE INEXPLICABLEMENT GOZ QUI ÉTAIT VENU EN KILT. LES MECS LA TROUVE TRÈS JOLIE ET AUSSI TRÈS INQUIÉTANTE ET À LA FOIS TRÈS GENTILLE QUAND ELLE EST CALME.

POUR SE FAIRE PARDONNER, LE GROUPE LUI PROPOSE DE CHANTER (APRÈS TOUT, IL ÉTAIT TEMPS D'AVOIR QUELQU’UN QUI SACHE CHANTER DANS CE GROUPE)…. ELLE ACCEPTE, PUIS AVEC LE TALENT QU'ON LUI CONNAÎT, CONSTITUE AVEC FRAH LE TANDEM LE PLUS SEXY ET DANGEREUX DES GROUPES DE ROCK.

ELLE DIRA, PLUS TARD, EN INTERVIEW :

« QUAND J’AI ASSISTÉ À LA PREMIÈRE RÉPÉTITION DU GROUPE, FRAH CHANTAIT EN RELEVANT SES E-MAILS… IL MÉLANGEAIT LES PAROLES DES SONGS, ET LES SLOGANS DES SPAMS QU'IL RECEVAIT EN DIRECT. CELA DONNAIT : ’ I WAS A SHY BOY DREAMING O’ MENPHIS,  … BUT MY GIRL USED TO SAY ENLARGE YOUR PENIS’ »

« C'ÉTAIT CON, MAIS J'AI TROUVÉ ÇA COOL. »</p>
        </span></section>

{% endblock %}