{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Steve{# permet de changer nom de page #}
{% endblock %}



{% block content %}

<h1> CLAVIERISTE, PIANISTE NON SALAPHISTE</h1><br>
<section class="text-align padding10">
    
        <p><span style ="text-transform:lowercase">
        
        NÉ : TOUJOURS PAS<br>
        
        SOUFFRE DE SÉVÈRES TROUBLES DE L'ATTENTION. ADOLESCENT, 
        
        <br>IL LUI ARRIVE PARFOIS DE PORTER SANS S'EN APERCEVOIR, LES JUPES DE SA MÈRE. IL FAUT DIRE QUE CETTE DERNIÈRE EST ABSENTE UNE SEMAINE SUR DEUX À CAUSE DE SON MÉTIER DE FOREUSE PÉTROLIÈRE. 
        
        TRÈS VITE, STEEVE EST ORIENTÉ VERS LA RÉPARATION AUTOMOBILE. IL A UNE PASSION POUR LES GROS V8 AMÉRICAINS ET AUTRE MUSCLE CARS.
        
        A 15 ANS, IL BRICOLE UN FORD TRUCK SUPERCHARGED POUR RICHARD CLAYDERMAN (QU'IL ADMIRE EN SECRET).<br>
        
        STEVE LUI PROPOSE DE CUSTOMISER SON ENGIN EN INSTALLANT UN PIANO AVEC LEQUEL IL POURRAIT JOUER DANS SA VOITURE.
        
        IL ACHÈTE DONC UN CLAVIER QU'IL ASSOCIE À UN GROS AMPLI ET TAPISSE LA VOITURE D'ENCEINTES. IL FAIT DES ESSAIS EN JOUANT LE GÉNÉRIQUE DE FIN DE SPONGE BOB ET IL A LA RÉVÉLATION : CETTE SUCCESSION DE NOTES NOIRES ET BLANCHES SUR LESQUELLES IL POSE SES DOIGTS L'INTERPELLENT, ET SURTOUT IL EST CAPABLE DE SE CONCENTRER PLUS D'UNE MINUTE. IL EST TOTALEMENT AUTODIDACTE (AUCUN RAPPORT AVEC LA VOITURE).
        
        LE CLAVIER DEVIENT SON TERRAIN D'EXPRESSION. QUELQUES DIZAINES DE MILLIERS D'HEURES DE RÉPÉTITION PLUS TARD, IL RENCONTRE FRAH ET CC SUR UNE AIRE D'AUTOROUTE EN FAISANT LA QUEUE DEVANT UN FOUR À MICRO-ONDE POUR FAIRE CHAUFFER SON CHEESBURGER SODEBO.
        
        FRAH CONSTRUISAIT UNE ATTELLE À RESSORT POUR SAUTER ENCORE PLUS LOIN, CC VOLAIT DISCRÈTEMENT LES ÉLASTIQUES D'UNE PETITE FILLE POUR RAFISTOLER LES CORDES DE SA GUITARE… STEVE A TROUVÉ ÇA COOL.
    </span>
    </p>

</section>
{% endblock %}
