{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Videos{# permet de changer nom de page #}
{% endblock %}

{% block content %}
<div class="video">
        <div class"video1">
            <h1>On The Road</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cZ6L0NvjeyY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video2">
            <h1>I'm Picky</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-LVWXQ2F3KI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video3">
            <h1>Wanna Get Free</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aRljVackZ08" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video4">
            <h1>Let's Bang</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jWYLL7wFyns" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
        </div>
        <div class="video5">
            <h1>Story O my life</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JDrWNYSHel0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video6">
             <h1>Lucky G1rl</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Bueh9v5XSrk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %} 